:root {
    --primary-dark: #0A192F;
    --primary-light: #E6EDF6;
    --accent-hover: #4A90E2;
}

@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        height: auto;
        display: flex;
        color: var(--primary-light);
    }
    
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}