@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav {
        display: flex;
    }
    
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
        height: auto;
    }
    
    main {
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1rem;
    }
}